<!--The content below is only a placeholder and can be replaced.-->
<div class="body">
<div class="navbar navbar-expand-lg navbar-dark bg-dark">
<ul class="navbar-nav mr-auto">
    <li class="nav-brand">
        <a class="nav-link" routerLink="/" routerLinkActive="true">Home</a>
      </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/adduser" routerLinkActive="true">New Employee</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/view" routerLinkActive="true"> View All Employees</a>
  </li>
</ul>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
</div>