/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('src\assets\images.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  justify-content: center;
  align-content: center;
}